.menuToggle {
  top: 15px;
  position: absolute;
  right: 10px;
  z-index: 100;
  font-size: 30px;
  color: black;
}

.title {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.at-title {
  margin-top: 5rem;
}