.menuToggle {
  top: 15px;
  position: absolute;
  right: 10px;
  z-index: 100;
  font-size: 30px;
}

.mainContent {
  padding: 50px 5px 0px 5px;
}

.title {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.at-title {
  margin-top: 5rem;
}

.chooseTeamGameForm {
  margin: 10px;
}

a {
  color: black;
}

a:hover {
  color: inherit;
}

.factionSelect {
  display: flex;
}