
<template name="chooseTeamGame">
    <form class="chooseTeamGameForm">
        <div class="ui form">
            <div class="field">
                <label >Choose a Team</label>
                <select name="team" class="ui dropdown">
                    {{#each teams}}
                        <option value="{{_id}}">{{name}}</option>
                        <br>
                    {{/each}}
                </select>
            </div>
            <br><br>
            <div class="field">
                <label>Choose a Game</label>
                <select name="game" class="ui dropdown">
                {{#each games}}
                    <option value="{{_id}}">{{name}}</option>
                    <br>
                {{/each}}
                </select>
            </div>
        </div>
        <br><br>
        <button class="ui button" type="submit">Submit</button>
    </form>
</template>

<template name="newScore">
    <form class="ui form submitNewGame">

        {{#with game}}
        <h3><span>{{name}}</span></h3>
        <input type="hidden" id="teamName" name="team" value="{{getUrlVars 'team'}}">
        <br>
        <div class="ui form">
            <div class="field">
                <label for="winner">Winner: </label>
                <select name="winner" class="ui dropdown">
                    <option value="">Who won this game?</option>
                    {{#each faction}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{/with}}
        <br>
        <div class="inline fields">
            {{#each teamMembers}}
                {{> teamMember}}
            {{/each}}
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
</template>

<template name="teamMember">
    <div class="grouped fields">
        inside member template**************
        {{this}}
    <label>{{profile.username}}</label>
        {{#with game}}
            {{#each faction}}
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="{{../_id}}" value="{{this}}">
                    <label>{{this}}</label>
                </div>
            </div>
            {{/each}}
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="{{_id}}" value="absent" checked="checked">
                    <label>Didn't Play</label>
                </div>
            </div>
        {{/with}}
    </div>
</template>