
<template name="submitgame">
    <br><br><br>

    <form class="ui form completedGame">

        <select name="game" class="ui fluid search dropdown" required>
            <option value="">Which Game Did You Play?</option>
            <option value="bangthedicegamewalkingdead">Bang! The Dice Game - Walking Dead</option>
            <option value="monopoly">Monopoly</option>
            <option value="gameoflife">The Game of Life</option>
            <option value="spinthebottle">Spin The Bottle</option>
            <option value="pandemic">Pandemic</option>
        </select>

        <h2>Who Played?</h2><br>

        {{#each teamMembers}}
            {{>teamMember}}
        {{/each}}

        <div class="inline fields">
            <br>
            <h2><label for="winner">Who Won?</label></h2><br>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="winner" value="survivor" checked="" tabindex="0" class="hidden">
                    <label>Survivor</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="winner" value="savior" tabindex="0" class="hidden">
                    <label>Savior</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="winner" value="loner" tabindex="0" class="hidden">
                    <label>Loner</label>
                </div>
            </div>
        </div>

        <button class="ui button" type="submit">Submit</button>

    </form>
</template>

<template name="teamMember">
    <div class="inline fields">
        <h3>{{profile.username}}</h3><br>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="{{profile.username}}-faction" value="survivor" tabindex="0" class="hidden">
                <label>Survivor</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="{{profile.username}}-faction" value="savior" tabindex="0" class="hidden">
                <label>Savior</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="{{profile.username}}-faction" value="loner" tabindex="0" class="hidden">
                <label>Loner</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="{{profile.username}}-faction" value="abstain" tabindex="0" checked="" class="hidden">
                <label>Didn't Play</label>
            </div>
        </div>
    </div>
</template>