
<template name="chooseTeamGame">
    <container id="chooseTeamContainer">
        <br><br><br><br><br><br>

        <form class="chooseTeamGameForm">
            <div class="ui form">
                <div class="field">
                    <label >Choose a Team</label>
                    <select name="team" class="ui dropdown">
                        {{#each teams}}
                            <option value="{{_id}}">{{name}}</option>
                            <br>
                        {{/each}}
                    </select>
                </div>

                <br><br>

                <div class="field">
                    <label>Choose a Game</label>
                    <select name="game" class="ui dropdown">
                    {{#each games}}
                        <option value="{{_id}}">{{name}}</option>
                        <br>
                    {{/each}}
                    </select>
                </div>
            </div>
            <br><br>
            <button class="ui button" type="submit">Submit</button>
        </form>

    </container>
</template>

<template name="newScore">
    <br><br><br>
    <form class="ui form completedGame">
        <strong>Game Name:</strong> <span>{{name}}</span>
        <br>
        <strong>Description:</strong> <span>{{description}}</span>
        <div class="inline fields">
            {{#each teamMembers}}
                {{> teamMember}}
            {{/each}}
            <h2><label for="winner">Who Won?</label></h2><br>
        </div>

        <button class="ui button" type="submit">Submit</button>

    </form>
</template>

<template name="teamMember">
    <div class="field">
        <p>{{profile.username}}</p>
        <div class="ui radio checkbox factionSelect">
            <select name="{{profile.username}}" class="ui dropdown">
                {{#with ..}}
                    {{#each faction}}
                        <input type="radio" name="{{this}}" value="{{_id}}" checked="" tabindex="0" class="hidden">
                        <label>{{this}}</label>
                    {{/each}}
                {{/with}}
            </select>
        </div>
    </div>
</template>