<template name="profile">


    {{#if currentUser}}
    <div class="ui fluid card">
        <div class="image">
            <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        </div>
        <div class="content">
            <a class="header">{{profile.username}}</a>
            <div class="meta">
                <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
                {{profile.bio}}
            </div>
        </div>

        <div class="ui styled fluid accordion">
            <!--{{#each gamesList}}-->
                <!--{{> gameAccordion}}-->
            <!--{{/each}}-->
        </div>

    </div>
    {{else}}
    <div>
        {{> atForm }}
    </div>
    {{/if}}
</template>

<template name="gamesAccordion">
    <div class="title">
        <i class="dropdown icon"></i>
        What is a dog?
    </div>
    <div class="content">
        <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
    </div>
</template>