<template name="teams">
    <h2>My Teams</h2>
    <div class="ui column grid">
        <div class="column">
            {{#each teams}}
            <div class="ui fluid card">
                <div class="content">
                    <img class="right floated mini ui image" src="/images/elliot.jpg">
                    <div class="header">
                        {{name}}
                    </div>
                    <div class="meta">
                        Members: {{members.length}}
                    </div>
                    <div class="description">
                        {{description}}
                    </div>
                </div>
                <div class="extra content">
                    <button value="{{_id}}" class="teamDetailsButton fluid ui basic green button">Team Details</button>
                    <!--<button class="recordNewGameButton fluid ui basic red button">Record Game</button>-->
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</template>


<template name="teamProfile">
    <h2>{{name}}</h2>
    <br>
    <div class="ui mini three statistics">
        <div class="statistic">
            <div class="value">
                <i class="heart icon"></i> {{likes}}
            </div>
            <div class="label">
                Likes
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                Bang!
            </div>
            <div class="label">
                Most Played
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                <i class="users icon"></i> {{members.length}}
            </div>
            <div class="label">
                Team Members
            </div>
        </div>
    </div>

    <br /><br />
    <div class="ui form">
        <div class="field">
            <label>Choose a Game</label>
            <select id="selectedGame" class="ui dropdown">
                {{#each games}}
                    <option value="{{_id}}">{{name}}</option>
                    <br>
                {{/each}}
            </select>
        </div>
    </div>

    <br><br>
    <div class="ui styled fluid accordion">
    {{#with teamScore}}
        <div class="ui styled fluid accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                {{gameTitle gameID}}
            </div>
            <div class="content">
                <div class="ui middle aligned large list">
                    <div class="item">
                        <i class="large smile icon"></i>
                        <div class="content">
                            <div class="header">Total Wins - {{totalWins}}</div>
                            {{#each scoresArray}}
                                <div class="item">
                                    <div class="description">{{this.key}} Wins - {{this.value}}</div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="item">
                        <i class="large frown icon"></i>
                        <div class="content">
                            <div class="header">Losses - {{totalLosses}}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large game icon"></i>
                        <div class="content">
                            <div class="header">Games Played - {{totalGames}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
    </div>
</template>

